#arena {
  margin: 50px auto;

  position: relative;
  width: 800px;
  height: 600px;

  background-color: #ccc;
}

.drone {
  position: absolute;
  width: 25px;
  height: 25px;

  background-color: blue;
  border: 1px solid black;
}

.drone .prop {
  width: 25px;
  height: 25px;
  background-image: url(/images/prop.png);
}
